*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    background-color: #f9f5ed;
    font-family: 'Kablammo', cursive;
font-family: 'Source Serif 4', serif;
}

@media screen {
    
nav {
    padding: 20px 10%;
    height: 15vh ;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none ;
    margin-right:10% ;
    font-weight: 300;
}
nav ul li img {
    width: 100px;
}
main {
    display: flex;
    justify-items: center;
    align-items: center;
}
.leftmain {
    width:40%;
    padding:7%;
}
.leftmain p {
    margin: 5% 0;
}
.leftmain button {
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
} 
.rightmain {
    width: 60%;
    padding: 7%;
}
/* .rightmain div img {
    margin-right: 20px;
} */
/* .rightmain div {
    margin-bottom: 20px; */

/* .rightmain > img {
    width:64%;
}  */

}