*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

body{
  max-width: 1440px;
  background-color: #f0f4f5;
  overflow: hidden;
  margin: auto;
}


@media screen {
  
 /* Desigin The Navigation Menu  */

 nav{
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
 }

 /* Desigining The Logo */

 nav img {
  width: 150px;
 }

   /* Desigin The Navigation Menu  Links */

   nav ul {
  display: flex ;
  align-items: center; 
}

nav ul li {
  list-style: none;
  margin-right: 50px;
  font-weight: 600;
}

nav ul li:first-child {
  font-weight: 700;
  color: #20bc7e;
}

a {
  text-decoration: none;
  color: black;
}

/* Design The Main Section */

main {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
}

#hospital-description {
  width: 50%;
  text-align: center;
}

#hospital-description h1 {
  margin-bottom: 20px;
  color:  #20BC7E;
}

#hospital-description p {
  font-size: 18px;
  font-weight: 400;
}

/* Design The Achievement Card  */

#achievement {
  display: flex;
  align-items: center;
  gap:50px;
  margin-top: 50px;
}

#achievement-card {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#achievement-card span {
  font-size: 25px;
  font-weight: 700;
  color: #20BC7E;
}

#achievement-card p {
  font-size: 20px;
  font-weight: 400;
}

}
