* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  background-color: #0f0f10;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

@media screen {
  
/* Removing Deafult Of CSS  a   Tag  */

a {
  text-decoration: none;
}

/*  Removing Deafult Of CSS li Tag */

li {
list-style: none;
}

body{
margin: 0 15vw;  
}

/* Designing The Navigation Menu  */

nav {
  display: flex;
  justify-content:space-between ;
  align-items: center;
  width: 100%;
  padding: 30px 0px;
}

nav img {
  width: 25px;
  height: 25px;
}

nav ul{
  display: flex;
}

nav ul li {
  margin-right:40px ;
  font-weight:700;
}

nav ul li:first-child a {
  font-weight: 700;
  font-size: 14px;
}

#all-list {
  display: flex;
  align-items: center;
  padding-left:500px ;
}

#button button {
 background: #1e1e21;
 border-radius: 8px;
 font-weight: 300;
 font-size: 14px;
 padding: 10px 40px;
 cursor: pointer;
}

/* Design The Main Section  */

main{
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  position:relative
}

img[alt="main-image"] {
  width: 230px;
  position: relative;
  top: -250px;
  left: 70px;
  
 /* height: -100px;  */
} 

#main{
  padding-left:180px ;
}

img[alt="on-ear-image"] {
  width: 320px;
  margin-left: 50px;
}

#heading-text h1 {
  font-weight: 600;
  font-size: 46px;
  margin-bottom: 25px;
}

#heading-text h4 {
font-weight: 500;
font-size: 16px;
margin-bottom: 25px;
}

#heading-text p {
  width: 65%;
  font-size: 12px;
  font-weight: 300;
  color:  #bdc0c2;
  line-height: 25px;
  margin-bottom: 25px;
}

#shpping-bag {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color:  #1e1e21;
  border-radius: 8px;
  width: fit-content;
  padding: 10px 25px;
}

#shpping-bag img {
  width: 15px;
  background: transparent;
  cursor: pointer;
}

#shpping-bag p{
  margin-bottom: 0;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

#shpping-bag span {
  background-color: transparent;
  cursor: pointer;
}

/* Design For All Social Media Icons */

#social-media-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px;
  position: relative;
  top: -50px;
  margin-bottom: 40px;
  cursor: pointer;
}

#social-media-icon img {
  scale: 0.8;
}

 /* Designing The Specification Section  */

 #Specification {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 #Specification-logo,
 #case-logo  {
  scale:0.8;
  margin-bottom: 20px;
 }

 #specification-list {
  display: flex;
 }
 
 #specification-list img {
  scale: 0.8;
 }

 #specification-all-list div {
  margin-bottom: 20px;
 }

 #specification-all-list div img {
  scale: 0.8;
 } 

 #specification-all-list div p {
  font-size: 12px;
 }

 #specification-all-list div p:last-child {
  color: #bdc0c2;
  font-size: 10px;
  margin-top: 5px;
  width: 70%;
 }

 #specification-all-list div p:last-child,
 #specification-all-list div p:first-child {
  margin-left: 30px;
 }

 /* Desgin The Case Sction  */

 #case {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 #case-items{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
 }

 #case-image{
  scale: 0.8;
 }

 #case-items div {
  width: 20%;
 }

 #case-items div p:first-child {
  color: #bdc0c2;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
 }

 #case-items div p:last-child img {
  background-color: transparent;
  scale: 0.8;
 }

#case-items div p:last-child {
  width:170px;
  height:50px;
  background-color:  #1e1e21;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap:20px;
  font-size: 15px;
  padding-left: 30px;
  cursor: pointer;
}
#case-heading {
  padding-left: 50px;
}

/* Buying Product Section  */

#buy-product {
  background: #181a1b;
  border-radius: 12px;
  display: flex;
align-items: center;
justify-content: center;
gap: 50px;

padding-top: 40px;
padding-bottom:40px;

}

#buy-product div,
#buy-product p,
#buy-product h3,
#buy-product img {
background-color: transparent;
}

#buy-product div {
  width: 25%;
}

#buy-product div h3{
  font-weight: 600;
  font-size: 18px;

}

#buy-product div p {
  color: #bdc0c2;
  font-size: 14px;

}

#music {
  position: relative;
  bottom: 40px;
  left:120px
}

#music p {
  position: relative;
  top:22px; 
}
#shopping-urgent  {
  position: relative;
  top:70px ;
  right:300px;
  padding-left: 120px;  
}


  
  #shopping-urgent p{
  position: relative;
  left:35px;
  bottom:25px;
}
#buy-product div div {
  display: flex;
align-items: center;
width: fit-content;
background: rgb(0, 0, 0) ;
border-radius: 8px;

}

#buy-product div div img {
  scale: 0.8;
  
}

#buy-now{
  position: relative;
  right: 200px;
}

 
#buy-product div div p {
  /* margin-bottom: 0; */
  font-size: 12px;
  color: white;
}

/* Designing To Product Section For Display Item */

#product {
  display: flex;
  flex-direction: column;
  margin: 0 150px;
  cursor: pointer;
}

#product-logo {
  display: flex;
  flex-direction: column;
}

#product-logo {
  scale: 0.3;
}

#product-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding-left: 50px;
}

#product-card{
  position: relative;
  width: 130px;
  height: 130px;
  background: #181a1b;
  border-radius: 8px;
}

#product-image{
  width: 75px;
  height: 100px;
  position: absolute;
  z-index: 100;
  top:-40px;
  left: 28px;
}

#product-image,
#product-info p ,
#product-info span ,
img[alt="product-image"],
img[alt="shopping-bag-2"],
#product-card div {
  background-color:transparent ;
}

#product-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 15px;
}

#product-info p {
  font-size: 12px;
}

#product-info span {
  color: #bdc0c2;
}

#product-info div {
  background: #0a0a0b;
  border-radius: 8px;
  padding: 2px 6px;
}

#product-info div img {
  width: 13px;
  height: 13px;
}

img[alt="product-image"] {
  height: 100px;
  width: 80px;
}

/* Design The Footer Section */

footer{
  margin: 100px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

img[alt="footer-logo"] {
  scale: 0.8;
}

footer ul li a  {
  font-size: 12px;
  color: #BDC0C2;
}

footer ul li:first-child a {
  font-size:16px;
  font-weight: 400;
  color: white;
}

footer ul li:first-child {
  margin-bottom: 10px;
}

#footer-subcription {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#footer-subcription div:first-child {
  background: #181A1B;
  border-radius:8px;
  padding: 10px 20px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

#footer-subcription div:first-child input {
  border: none;
  background-color: transparent;
}

#Subcribe-button {
  background: #0A0A0B;
  border: 8px;
  padding: 10px 20px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10;
}

#Subcribe-button img {
  scale: 0.8;
}

#Subcribe-button p {
  font-size: 12px;
}

#footer-subcription div:last-child img {
  margin-right: 10px;
  scale: 0.8;
}

#arrow-up {
  position: absolute;
  right: -160px;
  scale: 0.8;
}

}
