*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #edf1fd;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen {
    
li{
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
button{
    background-color: rgb(18,155,155);
    padding: 5px 7px;
    margin-bottom: 5px;
    align-items: center;
    cursor: pointer;
    color: white;
    border : 1px solid white ;
    border-radius: 5px;
    font-weight : 700;
    /* width:fit-content; */
}
button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
nav{
    display: flex;
    width:100%;
    align-items: center;
    justify-content: space-around;
}
nav .logo {
    font-weight:900 ;
    font-size : 30px;
    margin-top: 2px;
    margin-left: 10px;
}
nav ul {
    display: flex;
align-items: center;
gap: 30px;
font-weight: 500;
} 
nav ul li:hover {
text-decoration: underline;
font-style:italic ;
font-weight: bolder ;
background-color: greenyellow;
color: red;
cursor: pointer;
font-size: larger;
}
.search-box {
    display: flex;
    gap: 35px ;
}
input{
    padding : 4px 10px ;
}
.hero-section {
    display : flex ;
    align-items: center;
}
.hero-left-section h1  {
    box-sizing: border-box;
    border:0px solid black;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    margin-left: 10px;
}
.hero-left-section h1 span {
    color:rgb(18,155,155);
    font-weight: 900;
    font-size: 2.5 rem;
}
.hero-left-section p {
    font-weight: 500;
    box-sizing: border-box;
    border:0px solid black;
    margin-left: 10px;
}
.hero-left-section p span {
    font-weight: 700;
    font-size:25px;
    color:rgb(18,155,155);
}
.hero-right-section {
    display : flex ;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center; 

    /* gap:30px; */
}
.hero-right-section-btns{
    display: flex;
    align-items: center;
    gap:30px;
}
.hero-right-section img{
    height: 300px;
    width: 300px;
 border-radius: 50%;
}
footer {
    display:flex;
    align-items: centerp;
    padding: 20px 0;
justify-content: space-around;
}
footer p {
    font-weight:600 ;
}
footer ul {
    display: flex;
    gap:30px;
}

}   