*{
    margin:0% ;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Kablammo', cursive;
font-family: 'Source Serif 4', serif;
}
body{
    width:100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url("./assets/pexels-maxyne-barcel-10402282 1.png");
    background-size: cover;
    background-attachment:fixed;
    display: flex;
    flex-direction:column ;
    justify-content: center;
}

@media screen {
    
li {
    list-style: none;
}
nav{
     width: 100%;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px 0 60px;
    margin-top: 55px;
}
nav  ul {
    display: flex;
    align-items: center;
    gap: 100px;
}
a {
    
    /* list-style: none; 
  font-style: normal;
  font-weight: 400;
  font-size: 18px; */
  /* line-height: 22px; */
  color: #ffc233;
  cursor:pointer ;
  text-decoration: none ;
}
button:hover{
    background-color:white;
    color:black;
    border: 5px solid black ;
}
li:hover{
    text-decoration: red underline;
}
a:hover{
    color: greenyellow;
    font-style: italic;
}
nav button {
    width:100px;
    padding-left:18px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 18px;
    background-color: #ff505f;
    color: #ffffff;
    font-style: normal;
    font-weight: bolder;
    font-size:18px ;
    cursor:pointer;
    /* line-height:30px ;  */
     font-family: "Red Rose";
     /* border: 1px solid  #ff505f; */

}
.hero-section {
    text-align: center;
    margin-top: 60px;
    font-size:50px;
    color:  #ffc233
    
}
.read{
    height: 60px; 
     width: 250px;
    padding:  9px 18px ;
    font-weight: bolder;
    font-style: normal;
    font-size: 20px ;
    background-color: #ff505f;
    color: #ffffff;
    cursor: pointer; 
    /* border: 5px solid #ff505f; */
}

footer{
    position: absolute;
 bottom: 20px;
 right:40px;
}

}
